Template/xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MA_LK">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="100"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="STT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{0,10}\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_BN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="HO_TEN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NGAY_SINH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{4}(((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)?)?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GIOI_TINH">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:pattern value="^\s*[1-2]\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DIA_CHI">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="500"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_THE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:length value="15"></xs:length>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_DKBD">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:length value="5"></xs:length>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GT_THE_TU">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{4})((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GT_THE_DEN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{4})((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TEN_BENH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2000"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_BENH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^(\s*\S{3,8}\s*)$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_BENHKHAC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <!--<xs:pattern value="^(\s*\S{3,8}\s*(;(\s*\S{3,8}\s*))*)?$"/>-->
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_LYDO_VVIEN">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:pattern value="^\s*[1-3]\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_NOI_CHUYEN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="5"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MA_TAI_NAN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-8])?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NGAY_VAO">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{4}((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)(([0-1][0-9])|(2[0-3]))[0-5][0-9]\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NGAY_RA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{4}((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)(([0-1][0-9])|(2[0-3]))[0-5][0-9]\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SO_NGAY_DTRI">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{0,3}\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KET_QUA_DTRI">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([1-5])?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TINH_TRANG_RV">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([1-4])?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NGAY_TTOAN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{4}((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)(([0-1][0-9])|(2[0-3]))[0-5][0-9])?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MUC_HUONG">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*(([0-9]([0-9])?)|100)(([.]0{1,10})?)\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="T_THUOC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?)?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="T_VTYT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?)?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="T_TONGCHI">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="T_BNTT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?)?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="T_BHTT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="T_NGUONKHAC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?)?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="T_NGOAIDS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?)?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NAM_QT">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:minInclusive value="0"></xs:minInclusive>
        <xs:maxInclusive value="9999"></xs:maxInclusive>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="THANG_QT">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:minInclusive value="1"></xs:minInclusive>
        <xs:maxInclusive value="12"></xs:maxInclusive>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_LOAI_KCB">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:pattern value="^\s*[1-3]\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_KHOA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>



  <xs:element name="MA_CSKCB">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*\S{5}\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_KHUVUC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*(K1|K2|K3)?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_PTTT_QT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*(\S+(;(\S+))*)?\s*$"/>
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="CAN_NANG">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]([0-9])?([.]([0-9]{1,10}))?)?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="TONG_HOP">
    <xs:complexType>
      <xs:all>
        <xs:element ref="MA_LK" minOccurs="1"/>
        <xs:element ref="STT" minOccurs="1"/>
        <xs:element ref="MA_BN" minOccurs="1"/>
        <xs:element ref="HO_TEN" minOccurs="1"/>
        <xs:element ref="NGAY_SINH" minOccurs="1"/>
        <xs:element ref="GIOI_TINH" minOccurs="1"/>
        <xs:element ref="DIA_CHI" minOccurs="1"/>
        <xs:element ref="MA_THE" minOccurs="1"/>
        <xs:element ref="MA_DKBD" minOccurs="1"/>
        <xs:element ref="GT_THE_TU" minOccurs="1"/>
        <xs:element ref="GT_THE_DEN" minOccurs="1"/>
        <xs:element ref="TEN_BENH" minOccurs="1"/>
        <xs:element ref="MA_BENH" minOccurs="1"/>
        <xs:element ref="MA_BENHKHAC" minOccurs="1"/>
        <xs:element ref="MA_LYDO_VVIEN" minOccurs="1"/>
        <xs:element ref="MA_NOI_CHUYEN" minOccurs="1"/>
        <xs:element ref="MA_TAI_NAN" minOccurs="1"/>
        <xs:element ref="NGAY_VAO" minOccurs="1"/>
        <xs:element ref="NGAY_RA" minOccurs="1"/>
        <xs:element ref="SO_NGAY_DTRI" minOccurs="1"/>
        <xs:element ref="KET_QUA_DTRI" minOccurs="1"/>
        <xs:element ref="TINH_TRANG_RV" minOccurs="1"/>
        <xs:element ref="NGAY_TTOAN" minOccurs="1"/>
        <xs:element ref="MUC_HUONG" minOccurs="1"/>
        <xs:element ref="T_THUOC" minOccurs="1"/>
        <xs:element ref="T_VTYT" minOccurs="1"/>
        <xs:element ref="T_TONGCHI" minOccurs="1"/>
        <xs:element ref="T_BNTT" minOccurs="1"/>
        <xs:element ref="T_BHTT" minOccurs="1"/>
        <xs:element ref="T_NGUONKHAC" minOccurs="1"/>
        <xs:element ref="T_NGOAIDS" minOccurs="1"/>
        <xs:element ref="MA_LOAI_KCB" minOccurs="1"/>
        <xs:element ref="NAM_QT" minOccurs="1"/>
        <xs:element ref="THANG_QT" minOccurs="1"/>
        <xs:element ref="MA_KHOA" minOccurs="1"/>
        <xs:element ref="MA_CSKCB" minOccurs="1"/>
        <xs:element ref="MA_KHUVUC" minOccurs="1"/>
        <xs:element ref="MA_PTTT_QT" minOccurs="1"/>
        <xs:element ref="CAN_NANG" minOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>




  <!--<xs:element name="CHITIEUTONGHOPKCBBHYT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tong_hop"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>-->
</xs:schema>
