Template/xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MA_LK">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="100"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="STT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{0,6}\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_NHOM">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_THUOC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="TEN_THUOC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="DON_VI_TINH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="HAM_LUONG">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="DUONG_DUNG">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="LIEU_DUNG">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="SO_DANG_KY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="SO_LUONG">
    <xs:simpleType>
      <xs:restriction base="xs:float">
        <xs:pattern value="^\s*-?[0-9]{1,5}([.]([0-9]{1,10}))?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="DON_GIA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="TYLE_TT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*((([0-9]([0-9])?)|100)(([.]0{1,10})?))?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="THANH_TIEN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*-?[0-9]{1,3}([0-9]{3}|([,][0-9]{3})){0,4}([.]([0-9]{1,20}))?\s*$"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_KHOA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_BAC_SI">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_BENH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <!--<xs:pattern value="^(\s*\S{3,8}\s*(;(\s*\S{3,8}\s*))*)?$"/>-->
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="NGAY_YL">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{4}((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)(([0-1][0-9])|(2[0-3]))[0-5][0-9])?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_PTTT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-3])?\s*$"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>





  <xs:element name="CHI_TIET_THUOC">
    <xs:complexType>
      <xs:all>
        <xs:element ref="MA_LK" minOccurs="1"/>
        <xs:element ref="STT" minOccurs="1"/>
        <xs:element ref="MA_THUOC" minOccurs="1"/>
        <xs:element ref="MA_NHOM" minOccurs="1"/>
        <xs:element ref="TEN_THUOC" minOccurs="1"/>
        <xs:element ref="DON_VI_TINH" minOccurs="1"/>
        <xs:element ref="HAM_LUONG" minOccurs="1"/>
        <xs:element ref="DUONG_DUNG" minOccurs="1"/>
        <xs:element ref="LIEU_DUNG" minOccurs="1"/>
        <xs:element ref="SO_DANG_KY" minOccurs="1"/>
        <xs:element ref="SO_LUONG" minOccurs="1"/>
        <xs:element ref="DON_GIA" minOccurs="1"/>
        <xs:element ref="TYLE_TT" minOccurs="1"/>
        <xs:element ref="THANH_TIEN" minOccurs="1"/>
        <xs:element ref="MA_KHOA" minOccurs="1"/>
        <xs:element ref="MA_BAC_SI" minOccurs="1"/>
        <xs:element ref="MA_BENH" minOccurs="1"/>
        <xs:element ref="NGAY_YL" minOccurs="1"/>
        <xs:element ref="MA_PTTT" minOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSACH_CHI_TIET_THUOC">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CHI_TIET_THUOC" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
