Template/xml4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MA_LK">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="100"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
	<xs:element name="STT">
		<xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{0,6}\s*$"></xs:pattern>
      </xs:restriction>
		</xs:simpleType>
	</xs:element>

  <xs:element name="MA_DICH_VU">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="15"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_CHI_SO">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="TEN_CHI_SO">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="GIA_TRI">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="MA_MAY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
	
	<xs:element name="MO_TA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

  <xs:element name="KET_LUAN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
	
	<xs:element name="NGAY_KQ">
		<xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{4}((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)(([0-1][0-9])|(2[0-3]))[0-5][0-9]\s*$"></xs:pattern>
      </xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
	<xs:element name="CHI_TIET_CLS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MA_LK" maxOccurs="1"/>
				<xs:element ref="STT" maxOccurs="1"/>
				<xs:element ref="MA_DICH_VU" maxOccurs="1"/>
				<xs:element ref="MA_CHI_SO" maxOccurs="1"/>
				<xs:element ref="TEN_CHI_SO" maxOccurs="1"/>
				<xs:element ref="GIA_TRI" maxOccurs="1"/>
				<xs:element ref="MA_MAY" maxOccurs="1"/>
				<xs:element ref="MO_TA" maxOccurs="1"/>
				<xs:element ref="KET_LUAN" maxOccurs="1"/>
				<xs:element ref="NGAY_KQ" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DSACH_CHI_TIET_CLS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CHI_TIET_CLS" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
