Template/xml5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MA_LK">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"></xs:minLength>
        <xs:maxLength value="100"></xs:maxLength>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
	<xs:element name="STT">
		<xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*[0-9]{0,6}\s*$"></xs:pattern>
      </xs:restriction>
		</xs:simpleType>
	</xs:element>
  
  <xs:element name="DIEN_BIEN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
        <!--<xs:minLength value="1"></xs:minLength>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

  <xs:element name="HOI_CHAN">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="PHAU_THUAT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
	
	<xs:element name="NGAY_YL">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\s*([0-9]{4}((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|30|31)(([0-1][0-9])|(2[0-3]))[0-5][0-9])?\s*$"></xs:pattern>
      </xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
	
	<xs:element name="CHI_TIET_DIEN_BIEN_BENH">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MA_LK" maxOccurs="1"/>
				<xs:element ref="STT" maxOccurs="1"/>
				<xs:element ref="DIEN_BIEN" maxOccurs="1"/>
				<xs:element ref="HOI_CHAN" maxOccurs="1"/>
				<xs:element ref="PHAU_THUAT" maxOccurs="1"/>
				<xs:element ref="NGAY_YL" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DSACH_CHI_TIET_DIEN_BIEN_BENH">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CHI_TIET_DIEN_BIEN_BENH" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
