Service References/ServiceReference_stt/Vssoft_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LayDanhSachBN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ma_Phong" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SL_BGhi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayDanhSachBNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayDanhSachBNResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LayDanhSachBNSoapIn">
    <wsdl:part name="parameters" element="tns:LayDanhSachBN" />
  </wsdl:message>
  <wsdl:message name="LayDanhSachBNSoapOut">
    <wsdl:part name="parameters" element="tns:LayDanhSachBNResponse" />
  </wsdl:message>
  <wsdl:portType name="Vssoft_serviceSoap">
    <wsdl:operation name="LayDanhSachBN">
      <wsdl:input message="tns:LayDanhSachBNSoapIn" />
      <wsdl:output message="tns:LayDanhSachBNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Vssoft_serviceSoap" type="tns:Vssoft_serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayDanhSachBN">
      <soap:operation soapAction="http://tempuri.org/LayDanhSachBN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Vssoft_serviceSoap12" type="tns:Vssoft_serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayDanhSachBN">
      <soap12:operation soapAction="http://tempuri.org/LayDanhSachBN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vssoft_service">
    <wsdl:port name="Vssoft_serviceSoap" binding="tns:Vssoft_serviceSoap">
      <soap:address location="http://192.168.0.105:6633/Vssoft_service.asmx" />
    </wsdl:port>
    <wsdl:port name="Vssoft_serviceSoap12" binding="tns:Vssoft_serviceSoap12">
      <soap12:address location="http://192.168.0.105:6633/Vssoft_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>